/src/main/output/
/src/main/parser/

*.tokens
*.interp

/out/
/bin/
/target/
/build/
/out/
/classes/

*.class

*.war
*.zip
*.ear
*.rar
*.iml

*.log
*.tmp
*~

*.exe
*.o
*.obj
a.out

.idea/

.classpath
.project
.settings/

.vscode/

.DS_Store

Thumbs.db
