# Ignorer les données persistantes des conteneurs
gitea-data/
gitea_data/
mysql_data/
wordpress_data/
wordpress_db_data/
mongo_data/
statping_data/
rocketchat_data/
nextcloud_data/

# Ignorer les fichiers temporaires et système
temp/
.DS_Store
Thumbs.db

# Ignorer les clés SSL (Sécurité !)
# (On a mis les certificats publics dans config/nginx, donc on peut laisser ça,
# mais idéalement on ignore les .key)
*.key
